{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="icon" type="image/x-icon" href="{% static 'img/favicon.png' %}">
    <script type="text/javascript">
        function searchUser(event) {
            event.preventDefault();
            var username = document.getElementById('search-input').value;
            var url = `http://127.0.0.1:8000/user/${username}/`;
            window.location.href = url;
        }
    </script>
</head>
<body>
<nav>
    <ul id="nav-inner">
        {% for m in mainmenu %}
            <li class="menu-link"><a href="{% url m.url_name %}">{{m.title}}</a></li>
        {% endfor %}

        <li id="search">
            <form method="post" onsubmit="searchUser(event)">
                {% csrf_token %}
                <input type="text" id="search-input" placeholder="Enter username">
                <button type="submit">Search</button>
            </form>
        </li>

        {% if user.is_authenticated %}
            <li class="last menu-link"><a href="{% url 'users:profile' %}">{{user.username}}</a> | <a href="{% url 'users:logout' %}">Logout</a></li>
        {% else %}
            <li class="last menu-link"><a href="{% url 'users:login' %}">login</a> | <a href="{% url 'users:register' %}">Register</a></li>
        {% endif %}
    </ul>
</nav>
{% block content %}

{% endblock content %}
</body>
</html>