{% extends 'base.html' %}

{% block content %}

    <h1 class="main-header"><span id="main-header-username">Your</span> Wishlist</h1>
    <p id="add-item-button"><a href="{% url 'wishlists:wishlist_item_create' %}">Add Item</a></p>
    <ul class="wishlist">
        {% for item in items %}
            <li class="wishlist-item">
                <span id="wishlist-item-text">{{ item.item_name }}</span>
                <a href="{% url 'wishlists:wishlist_item_update' item.pk %}" class="wishlist-item-button">Edit</a>
                <a href="{% url 'wishlists:wishlist_item_delete' item.pk %}" class="wishlist-item-button">Delete</a>
            </li>
        {% endfor %}
    </ul>

{% endblock %}